[submodule "lib/ds-test"]
	path = lib/ds-test
	url = https://github.com/dapphub/ds-test
[submodule "lib/sai"]
	path = lib/sai
	url = https://github.com/makerdao/sai.git
[submodule "maker-otc"]
	path = maker-otc
	url = https://github.com/makerdao/maker-otc
