{
  "presets": [
    "env",
    "stage-2"
  ],
  "plugins": [
    "transform-runtime",
    "transform-decorators-legacy",
    [
      "module-resolver",
      {
        "alias": {
          "@makerdao/dai": "./src"
        }
      }
    ]
  ]
}
