{
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "@makerdao/dai/contracts": "./contracts",
          "@makerdao/dai/src": "./src",
          "@makerdao/dai": "./src",
        }
      }
    ]
  ]
}
