html, body {
  font-family: Verdana, Geneva, sans-serif;
  background-color: white;
  padding: 0;
  margin: 0;
}

h3 {
  font-size: 95%;
}

ul.objectFields > li {
  font-size: 110%;
  font-family: monospace;
}